.rules{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
}
#button-rules {
  padding: 10px 20px;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;


}

#button-rules:hover {
  background-color: #ffffff;
  color: hsl(229, 25%, 31%);
}
@media (max-width: 700px) {
.rules{
  justify-content: center;
}
  #button-rules:hover {
    background: transparent;
    color: #ffffff;
  }
}

@media (min-height: 920px) {
 
}

.modal-rules {
  width: 100vw;
  height: 100%;
  background: var(--color-background-modal);
  position: absolute;
  top: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-imagem{
  width: 450px;
  height: 430px;
  background: var(--color-background-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
#fechar{
  background: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;


}
@media (max-width: 700px) {
  .modal-imagem{
    width: 350px;
    height: 430px;
    gap: 20px;
  }
  
}
  @media (max-width: 400px) {
    .modal-imagem{
      width: 300px;
      height: 360px;
      gap: 20px;
    }
  }
@media (min-height: 920px) {
  .modal-imagem{
    width: 450px;
    height: 470px;
    gap: 28px;
  }
}