.start-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.chosen-cards{
  background: var(--color-background-white);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-card-element{
 display: none;
}
.selected-card-element.ativo{
  display: block;
}



@media (min-height: 920px) {
  .start-panel{
    gap: 80px;
  }
  .chosen-cards{
    width: 200px;
    height: 200px;
  }
  
}